* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: cinzel;
}
body {
  font-size: cinzel;
}
h1 {
  font-size: 10rem;
  font-weight: 400;
  letter-spacing: -0.6rem;
}
h2 {
  font-size: 6rem;
  font-weight: 400;
}

strong {
  font-size: 4rem;
  font-weight: 400;
}
p {
  font-size: 2rem;
}
a {
  font-size: 3rem;
}
input {
  font-size: 3rem;
  padding: 2rem;
  background-color: #181a1d;
  color: white;
  text-align: center;
  border: none;
  border-bottom: 1px solid yellow;
  outline: none;
}
input::placeholder {
  color: white;
}
button {
  font-size: 3rem;
  text-align: center;
}
