.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 5rem;
  padding: 30rem 0rem;
  background-image: url("../images/1.png");
  background-size: cover;
  color: #fff;
}
.header-main {
  max-width: 60rem;
  margin: 0 auto;
  border-top: 2px solid yellow;
  border-bottom: 2px solid yellow;
}
/* WELCOME */
.welcome {
  background-color: #181a1d;
  background-image: none;
  padding: 30rem 0;
}
.welcome-main {
  max-width: 120rem;
  border-bottom: none;
  border-top: none;
}
.welcome-main h2 {
  border-top: 2px solid yellow;
}
.welcome-main p {
  margin-bottom: 5rem;
  font-size: 2rem;
}
.welcome-main a {
  border: 1px solid white;
  padding: 2rem;
}
/* CATALOG */
.catalog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80rem;
  width: 100%;
}
.catalog-inner {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.inner-first {
  background-image: url("../images/2.png");
}
.inner-second {
  background-image: url("../images/3.png");
}
.inner-third {
  background-image: url("../images/4.png");
}
.inner-four {
  background-image: url("../images/5.png");
}

/* contact us */
.contact-us {
  padding: 20rem 0;
  background-color: #181a1d;
}
.form-container {
  max-width: 60rem;
  margin: 0 auto;
}
.form-container h2 {
  font-size: 6rem;
  text-align: center;
  color: white;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 1rem;
}
.message {
  padding: 5rem 0;
}
.form-button {
  border: 1px solid white;
  width: 30%;
}

/* contacts */
.contacts {
  background-image: url("../images/6.png");
  background-size: cover;
  padding: 30rem 0;
}

.contact-information {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  color: white;
}
.contact-information h2 {
  font-size: 5rem;
}
.contact-information a {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-right: 1rem;
  font-size: 2rem;
  padding: 1rem;
}
.contact-information p {
  font-size: 1.5rem;
}
.privacy {
  font-size: 1.5rem;
}
